.input-container {
  text-align: start;
}
.survey-input {
  background: white;
  border-radius: 4px;
  border: 2px solid #e8e8e8;
  width: 95%;
  height: 38px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.survey-span {
  display: inline-block;
  font-size: 12px;
  width: 100%;
  font-style: italic;
  color: #ca3938;
}

.next-button {
  padding: 10px 10px;
  /* cursor: pointer; */
  overflow: hidden;
  margin-top: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.next-button:hover {
  background-color: #008000;
  transition: all 1s;
}
